/* Color Theme Swatches in Hex */
.Marcbilt-Contructions-1-hex { color: #CCCAA5; }
.Marcbilt-Contructions-2-hex { color: #E8AE0C; }
.Marcbilt-Contructions-3-hex { color: #191913; }
.Marcbilt-Contructions-4-hex { color: #FFFFFF; }
.Marcbilt-Contructions-5-hex { color: #40321A; }

/* Color Theme Swatches in RGBA */
.Marcbilt-Contructions-1-rgba { color: rgba(204, 202, 165, 1); }
.Marcbilt-Contructions-2-rgba { color: rgba(232, 174, 11, 1); }
.Marcbilt-Contructions-3-rgba { color: rgba(24, 24, 18, 1); }
.Marcbilt-Contructions-4-rgba { color: rgba(255, 255, 255, 1); }
.Marcbilt-Contructions-5-rgba { color: rgba(63, 49, 26, 1); }

/* Color Theme Swatches in HSLA */
.Marcbilt-Contructions-1-hsla { color: hsla(56, 27, 72, 1); }
.Marcbilt-Contructions-2-hsla { color: hsla(44, 90, 47, 1); }
.Marcbilt-Contructions-3-hsla { color: hsla(60, 13, 8, 1); }
.Marcbilt-Contructions-4-hsla { color: hsla(0, 0, 100, 1); }
.Marcbilt-Contructions-5-hsla { color: hsla(37, 42, 17, 1); }
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
::-webkit-scrollbar{
    background-color: #FFFFFF;
    width: 2px;
}
::-webkit-scrollbar-thumb{
    background-color: #40321A;
}
/*----------------main--------------------*/
main{
    height: 180vh;
    width: 100%;
    background: linear-gradient(120deg, rgba(24, 24, 18, 1) , rgb(51, 51, 42) );
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*----------------header--------------------*/
.mobile-menu{
    height: 12vh;
    width: 12vw;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}
.mobile-menu div{
    width: 10vw;
    height: 1vh;
    background-color: #FFFFFF;
}
header{
    height: 12vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    transition: .6s;
}
.sticky{
    height: 10vh;
    background-color: #191913;
}
nav{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
nav a{
    margin-right: 10vw;
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    color: #FFFFFF;
    margin-left: 1rem;
    font-size: 20px;
}
/*----------------main--------------------*/
.outdoor{
    height: 70vh;
    width: 100%;
    background-image: url(../img/slide.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.Beneficios-painel{
    margin-top: 5vh;
    height: 20vh;
    width: 95%;
    border-radius: 20px;
    background-color: #CCCAA5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.item-beneficio{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    height: 18vh;
    width: 300px;
    font-weight: 500;
    text-shadow: #191913 2px 2px 5px;
}
.beneficios{
    background: url(../img/img-index/manutencao.png);
    background-size: cover;
    height: 10vh;
    width: 100px;
    border-radius: 20px;
}
.servicos{
    margin: 10vh 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.img-servico{
    height: 100%;
    width: 50%;
    background: url(../img/outdoor.jpg);
    background-size: cover;
    border-radius: 20px;
}
.servico-painel{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #CCCAA5;
    text-shadow: 2px 2px 4px black;
}
.servico-painel h1{
    margin-right: 8vw;
}
.item-servico{
    margin: 1vw 1vh;
    width: 40vh;
    height: 30vh;
    color: #CCCAA5;
    border-radius: 10px;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
    text-align: left;
}
.container-itens-servico{
    margin: 2vw 2vh;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
/*----------------footer--------------------*/
footer{
    height: 20vh;
    width: 100%;
    background-color: #191913;
    display: flex;
    justify-content: center;
    align-items: center;
}
.midias-footer{
    border-bottom: 2px solid #CCCAA5;
    height: 10vh;
    width: 50vw;
    display: flex;
    justify-content: center;
}
.midias-itens-footer{
    margin-left: 2vw;
    margin-right: 2vw;
    width: 5vw;
    height: 10vh;
}
.midias-footer a{
    width: 100%;
    height: 100%;
}
img{
    width: 50px;
    height: 50px;
}
/*-------------MIDIA QUERY----------*/
@media (max-width: 1470px) {
    main{
        height: 250vh;
    }
}
@media (max-width: 1263px) {
   .Beneficios-painel{
    height: 100%;
   }
}

@media (max-width: 999px) {
    .mobile-menu{
        display: flex;
    }
    nav{
        position: absolute;
        display: none;
        flex-direction: column;
        background-color: #191913;
        height: 100vh;
        width: 50vw;
        justify-content: space-evenly;
        align-items: center;
    }
    .sticky{
        height: 12vh;
        background-color: #191913;
    }
    .open{
        display: flex !important;
    }
}
@media (max-width: 550px) {
    .servicos{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .item-servico{
        text-align: center;
        width: 100%;
        height: 30vh;
        margin: 100px 0;
    }
 }
 